{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        {% for comment in page_obj.object_list %}
            <div class="posting" id="post{{comment.id}}">
            <a href="/profile/{{comment.user_id.id}}"><strong id="user{{comment.id}}">{{comment.user_id}}</strong></a>

            <div id="texto{{comment.id}}"> 

              
                  <p>{{comment.comment}}</p>

                  <em id="like{{comment.id}}">{{ comment.number_of_likes}} likes</em><br>
            
                  <input type="button" class="btn btn-primary btn-sm" value="Like" onclick="like_post( {{ comment.id}} )" />

                  {% if comment.user_id == user_id%}
                  <input type="button" class="btn btn-secondary btn-sm" value="Edit" onclick="edit_post( {{ comment.id}} )" />
                  <br>                       
                   {% endif %}
               
      
                </div>
                  <i>{{comment.comment_time}}</i>
              
              <hr>
            </div>
        
        {% endfor %}

    {% else%}
    {% for comment in page_obj.object_list %}
    <div class="posting">
    <a href="#"><strong>{{comment.user_id}}</strong></a>

    {% if comment.user_id == user_id%}
        <br>
        <em> Edit</em>
        <br>
        

    {% endif %}
    <p>{{comment.comment}}</p>
    <button type="button" class="btn btn-primary btn-sm">Like</button>
    <br>

    <i>{{comment.comment_time}}</i>
    <hr>
    </div>

{% endfor %}


    {% endif%}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        
        <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>

         

          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
          {% endif%}
        </ul>
      </nav>
   
{% endblock %}