{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        {% for comment in comments%}
            <div class="posting">
            <a href="/profile/{{comment.user_id.id}}"><strong>{{comment.user_id}}</strong></a>

            {% if comment.user_id == user_id%}
                <br>
                <em> Edit</em>
                <br>
                

            {% endif %}
            <p>{{comment.comment}}</p>
            <button type="button" class="btn btn-primary btn-sm">Like</button>
            <br>
 
            <i>{{comment.comment_time}}</i>
            <hr>
            </div>
        
        {% endfor %}

    {% else%}
    {% for comment in comments%}
    <div class="posting">
    <a href="#"><strong>{{comment.user_id}}</strong></a>

    {% if comment.user_id == user_id%}
        <br>
        <em> Edit</em>
        <br>
        

    {% endif %}
    <p>{{comment.comment}}</p>
    <button type="button" class="btn btn-primary btn-sm">Like</button>
    <br>

    <i>{{comment.comment_time}}</i>
    <hr>
    </div>

{% endfor %}


    {% endif%}
   
{% endblock %}